.headerContainer {
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 32px;
	width: 100%;

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: 180px 1fr 120px;
	}
}

.headerContainer .logo a {
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
	color: var(--gray-900);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	
}

.controls .searchIcon {
	display: none;
	
	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
		width: 40px;
	}
}

.controls .favourites {
	display: flex;
	justify-content: center;
	width: 40px;
}
