.my-list {
  display: flex;
  flex-direction: column;
  height: 600px;
  border-radius: 10px;
}

.header {
  display: flex;
  height: 67px;
  border-bottom: 1px solid #e7e7e7;
}

.footer {
  border-top: 1px solid #e7e7e7;
}

.movies {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.movie {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 120px;
}

