.searchContainer {
  @media (max-width: 520px) {
    display: none;
  }

  form {
    position: relative;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;

    input {
      padding: 0 10px;
    }
  }

  &.overlay {
    @media (max-width: 520px) {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: beige;
    }
  }
}



.searchContainer input {
  width: 100%;
  height: 36px;
  border: 2px solid rgb(194, 135, 246);
  border-radius: 8px;
}

.searchContainer .searchIcon {
  position: absolute;
  right: 10px;
  height: 36px;
}

.error {
  margin-top: 5px;
  color: red;
}